/* node_modules/@fullcalendar/core/index.global.js */

/* node_modules/@fullcalendar/daygrid/index.global.js */

/* node_modules/@fullcalendar/timegrid/index.global.js */

/* node_modules/@fullcalendar/list/index.global.js */

